.nav-container{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #A48F78;
    font-family: 'Courgette', cursive;
}

.nav-links {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 25px;
    white-space: nowrap;
}

.link {
    padding: 30px 15px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
  }

.logo{
    font-size: 2rem;
    color: white;
    padding-top: .8rem;
    padding-left: 1rem;
    font-weight: bold;
    text-decoration: none;
}