.about-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: #A48F78;
    padding-top: 5rem;
    padding-bottom: 6.5rem;
}

.text-container{
    padding-left: 3rem;
}

.top-heading{
    padding-top: 3rem;
}

.couple{
    width: 30vw;
    height: 60vh;
    padding-top: 2rem;
}

.story{
    width: 40vw;
    padding-top: 2rem;
}

.about-qoute{
    color: white;
    padding-bottom: 1.5rem;
    font-size: 2rem;
    font-family: 'Marck Script', cursive;
}
