.reviews-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.review{
    color: white;
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-size: 1.5rem;
    padding: 20px;
    background-color:#A3947F;
    border-radius: 16px;
}