.first-section-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.catch-phrase{
    font-size: 2rem;
    color: #A48F78;
    padding-bottom: 4.5rem;
    padding-top: 4rem;
    font-family: 'EB Garamond', serif;
}