.first-section-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.catch-phrase{
    font-size: 5rem;
    color: #A48F78;
    padding-bottom: 4rem;
    padding-top: 4rem;
}