.social-icons{
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 5px;
    background-color: #A48F78; 
}

.social{
    padding: 10px;
    font-size: 1.5rem;
}

a {
    color: white;
  }

h3{
    background-color: #A48F78; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}